@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body, html {
  width: 100%;
  height: 100%;
  background: #ff9aa2;
  font-family: 'Varela Round', sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
}

nav a {
  text-decoration: none;
  font-size: 40px;
  color: rgb(241, 240, 240);
  position: relative;
  margin-bottom: 50px;
  transition: all .2s;
  overflow: hidden;
}

nav a:hover {
  color: #fff;
}

nav a:last-child {
  margin-bottom: 0px;
}

nav a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(93, 82, 157, .95);
  z-index: 99;
  transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

nav a:hover::before {
  left: 100%;
}

nav a::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: 100%;
  width: 100%;
  height: 4px;
  background: rgba(93, 82, 157, .95);
  transition: all .3s;
  transition-delay: .4s;
}

nav a:hover::after {
  left: 0%;
}


#logo{
  position: absolute;
  top: 25%;
  left: 50%;  
  z-index: 1;
  transform:          translate(-50%, -50%);
                -webkit-transform:  translate(-50%, -50%);
                -moz-transform:     translate(-50%, -50%);
                -o-transform:       translate(-50%, -50%);
                -ms-transform:      translate(-50%, -50%); 
}

svg{
  width:40px;
  
}

svg:hover{
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out;
}





