html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Luckiest Guy', cursive;
    
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
 
 
 /** Structure
  ---------------------------------------------------------*/
 
 body {
     background-color: #f6cf61;
     font-family: "Poppins", Helvetica, sans-serif;
     font-size: 14px;
     margin:0;
     padding:0;
     width: 100vw;
 }
 
 h1, h2, h3, a {
     color: #FFFFFF;
 }
 
 h1 {
     font-size: 4em;
 }
 
 h2 {
     font-size: 3em;
     font-weight: 700;
     line-height: 1.2em;
     margin-bottom: 5px;
 }
 
 p {
     line-height: 1.7em;
 }
 
 .wave-container {
    width: 300vw;
    height: 100%;
    position: fixed;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  
  
 
 /** Navigation
  ---------------------------------------------------------*/


.menu {
	text-align:center;
    list-style: none;
    margin:0;
    padding:2em 3em;
    z-index: 1;
}

.menu li {
    display:inline-block;
    margin: 0 2em;
}
.menu li a {
	color:white;
	display:inline-block;
	
	text-decoration:none;
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
    font-size:35px;
}

.menu li a:hover {
    letter-spacing: 5px;
}  


.menu a {
    position: relative;
    display: inline-block;
    text-decoration: none; 
  }
.menu a::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: px;
  background: white;
  bottom: -2px;
  transform: scale(0, 1);
  transition: transform .3s;
  transform-origin: center top;
  }
.menu a:hover::after {
    transform: scale(1, 1);;
  }
  
#logo{
    position: absolute;
    top: 20px;
    left: 5%;  
    z-index: 1; 
}

.nav--icon {
      position: absolute;
      top: 15px;
      right: 5%;
      font-size:35px;
      color: #FFFFFF;   
      cursor: pointer;
      z-index: 1;   
} 

.nav--icon:hover{
    color: rgb(236, 135, 135);
}



.overlay {
    background:white;
    position: fixed;
    height: 100vh;
    width: 95vw;
    top: 0;
    left: 2.5%;
    visibility: hidden;
    z-index: 1;
}



.overlay-width {
    opacity: 1;
    width: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: width 0.5s 0.2s, visibility 0s 0.7s;
    transition: width 0.5s 0.2s, visibility 0s 0.7s;
}

.overlay-width.open {
    visibility: visible;
	width: 90%;
    -webkit-transition: width 0.5s;
    transition: width 0.5s 0s;
    transition-delay: 0s;
}

.overlay-height.open {
    visibility: visible;
    height: 95%;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
    transition-delay: 0s;
}

.overlay-height {
    opacity: 1;
    visibility: hidden;
    height: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: height 0.5s .2s, visibility 0s .7s;
    transition: height 0.5s .2s, visibility 0s .7s;
}



.contact li a:hover{
    color:#f6cf61;
}

.overlay ul {
    margin: 0 auto 0;
    visibility: hidden;
    transition: visibility .5s .5s;
    width: 50%;
    
}

.overlay.open ul {
    visibility: visible;
    transition: visibility .5s .1s;
}

.overlay ul li a {
    color: #000000;
    text-decoration: none; 
    
}

#text1{
     text-align: center;
     font-size:3vw;
     margin:10%;
     margin:4rem;
}

#mail{
     text-align: center;
     font-size: 5vw;
     margin:0;
     margin:4rem;
}

#text2{
     text-align: center;
     font-family:'HelveticaNeue-UltraLight', sans-serif;
     font-size:1vw;
     margin:0;
}

.icon {
    display: block;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding:0;
    text-align: center;
  }

  .icon li {
    display: inline-block;
  }

  .icon a, .icon svg {
    display: block;
  }

.icon-1:hover, .icon-2:hover, .icon-3:hover {
    border-radius: 100%;
    color: #0e1925;
    fill: #0e1925;
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
  }

.overlay ul li {
    opacity: 0;
    transform: translateY(5px);
}

.overlay.open ul li {
    margin-bottom: 1em;
    opacity: 1;
    transform: translateY(0px);
    transition: opacity .2s, transform .2s;
}

.overlay.open ul li:nth-child(1) {
    transition-delay: .5s !important;
}

.overlay.open ul li:nth-child(2) {
    transition-delay: .6s !important;
}

.overlay.open ul li:nth-child(3) {
    transition-delay: .7s !important;
}

.overlay.open ul li:nth-child(4) {
    transition-delay: .8s !important;
}

.overlay-close {
    visibility: hidden;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14px;
    cursor: pointer;  
    transition: visibility .3s 0s; 
    transition: opacity .3s, transform 0s;   
}

.open .overlay-close{
    visibility: visible;
    transition: visibility .2s 1s; 
    transition: opacity .2s, transform 1s;  
}

svg{
    width:3vw;
    
}

svg:hover{
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
}

/* cover */
.animal{
    position: absolute;  
    z-index: 1;
}
 
.title1{
    position: absolute;
}

.title2{
    position: absolute;   
}

.cover{
    position:absolute;
    top:50%;
    left:50%;
    transform:          translate(-50%, -50%);     
}




.wave {
    opacity: 1;
    position: absolute;
    top: 60%;
    left: -28%;
    background: #e96565;
    width: 100%;
    height: 300vw;
    transform-origin: 50% 49%;
    border-radius: 49%;
    -webkit-animation: drift 3000ms infinite linear;
    animation: drift 8000ms infinite linear;
    will-change: transform;
  }
  
  
  .wave.-two {
    animation: drift 9000ms infinite linear;
    opacity: 1;
    background: #6fa0a8;
    top: 60%;
    left: -32%;
  }
  
  .wave.-three {
    animation: drift 4000ms infinite linear;
    opacity: 1;
    background: rgb(241, 129, 38);
    top: 60%;
    left: -36%;
    z-index: -2;
  }
  
  @keyframes drift {
    from {
      transform: rotate(0deg);
    }
    from {
      transform: rotate(360deg);
    }
  }