html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}


body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



body {
    margin:0;
    font-size: 1.25rem;
    font-family: sans-serif;
    line-height: 150%;
    text-shadow: 0 2px 2px #ff9e2c;
  }

.sliderbar{
    position: absolute;
    top: 20px;
    right: 5%;  
    cursor: pointer;
    width: 50px;
    height: 50px;
    color:black;
    z-index: 1;
}
  
  section {
    color: #fff;
    text-align: center;
  }
  
  div {
    height: 100%;
  }
  
  article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  h1 {
    font-size: 1.75rem;
  }
  
  /* Pattern styles */
  .container {
    display: table;
    width: 100%;
  }
  
  img{
  	width:80%;
  }

  .left-half {
    background-color: white;
    position: absolute;
    left: 0px;
    width: 50%;
  }
  
  .right-half {
    background-color: #b6701e;
    position: absolute;
    right: 0px;
    width: 50%;
  }